{% extends 'base.html.twig' %}

{% block title %}Hello AddQuestionController!{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.question) }}
    {{ form_row(form.category) }}
    {{ form_row(form.answer) }}

    <button type="submit">Submit</button>

    {{ form_end(form) }}

    <script>
        (function myFunc() {
            let dropdown = document.getElementById('add_question_type');
            let answerFields = document.getElementById('add_question_answer').childNodes;
            dropdown.addEventListener("click",
            function () {
                if (dropdown.value === "open"){
                    answerFields.forEach((answerField) => {
                        if (answerField === answerFields[0]) {
                            answerField.style.display = "block";
                        } else {
                            answerField.style.display = "none";
                        }
                    });
                } else {
                    answerFields.forEach((answerField) => {
                        answerField.style.display = "block";
                    });
                }
            });
        })();
    </script>
{% endblock %}
