{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
 {% block stylesheets %}

         <link rel="stylesheet" href="{{ asset('build/app.css') }}">
         <link rel="stylesheet" href="{{ asset('build/login.css') }}">

 {% endblock %}


{% block body %}

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="title-login">BeGame</h1>
    <div class="intro-login-container">
        <p>Improve your coding skills <br/> with the BeGame quiz</p>
    </div>
    <div class="user-login-container">
        <h2 class="white-title">login</h2>
        <div class="login">

        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="username" required >

        </div>
        <div class="register-container a-link">
           <p>No account yet?</p>
         <a href="{{ path('app_register') }}">register</a>
        </div>

        <button class="play-btn" type="submit"> PLAY! </button>

    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <br>

</form>
{% endblock %}
