{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/register.css') }}">
{% endblock %}

{% block body %}
    <p id="error"></p>
    <h1>Register</h1>

    <div class="register-container intro-login-container">
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.username) }}
    <div class="roles">
        <p>what is your role?</p>
    {{ form_row(registrationForm.roles) }}
    </div>
    {{ form_errors(registrationForm) }}
    {{ form_row(registrationForm.randomField) }}
    <div>
        <button class="play-btn">Register</button>
    </div>
    {{ form_end(registrationForm) }}
</div>
    <script>
        (function myFunc() {
            let rookieCheckBox = document.getElementById('registration_form_roles_0');
            let advancedCheckBox = document.getElementById('registration_form_roles_1');
            let nameInputField = document.getElementById('registration_form_username');

            nameInputField.addEventListener("keyup", function () {
                nameInputField.value = nameInputField.value.replace(/\s/g,'');

                console.log('hallo');
            });

            let teamField = document.getElementById('registration_form_randomField');
            teamField.style.display = "none";
            advancedCheckBox.addEventListener("click", function () {
                teamField.style.display = "block";
                teamField.setAttribute('required', "");
            });
            rookieCheckBox.addEventListener("click", function () {
                teamField.style.display = "none";
                teamField.removeAttribute('required');
            });
        })();
    </script>
{% endblock %}
