{% extends 'base.html.twig' %}

{% block title %}Join a team{% endblock %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('build/chooseTeam.css') }}">

 {% endblock %}

{% block body %}
  <h3>Welcome  {{user.username }} </br>Join a team to continue</h3>
<div class=teams>
    {% for team in teams %}
        <li class =list>
        {% set form = team['form'].createView %}
        {{ form_start(form)  }}
        {{ team['teamName'] }}
        {{ form_end(form) }}
        </li>
    {% endfor %}
    {% if teams is empty %}
        <p>There are no teams yet. Be patient, and refresh your browser.</p>
        <button><a href="{{ path('homepage') }}">OR PRESS THIS BUTTON</a></button>
    {% endif %}
</div>
{% endblock %}
{#{'action': path('joinGroup'), 'method': 'POST'}#}
