{% extends 'base.html.twig' %}

{% block title %}Hello AdminOverviewController!{% endblock %}

{% block body %}

    <button><a href="{{ path('add_question') }}">Add question</a></button>
    <button><a href="{{ path('q_rcode') }}">Generate codes!</a></button>
    <button><a href="{{ path('start_game') }}">Start Game!</a></button>
    <button><a href="{{ path('view_question') }}">View all questions</a></button>
    <button id="startGame"><a href="{{ path('stop_game') }}">Stop Game!</a></button>


    <ul>
        {% for team in pendejos %}

            <li><p><b>{{ team.teamName }}</b></p></li>
            <ul>
                {% for user in team.user %}
                    <li> {{ user.username }}</li>
                {% endfor %}
            </ul>
        {% endfor %}

    </ul>
{% endblock %}
