{% extends 'base.html.twig' %}

{% block title %}Hello ProfilePageController!{% endblock %}

{% block body %}
    <h1>{{ user.userName }} </h1>
    <h3>{{ user.team.teamName }} {{ user.team.teamscore }} </h3>
    <h3>Your team members</h3>

    <ul>
        {% for user in user.team.user %}
            <li>{{ user.username }} : {{ user.score }}</li>

        {% endfor %}
    </ul>


    {% if is_granted('ROLE_ADVANCED') %}
        <button><a href="{{ path('toggle_lock', {team:team.id}) }}">

                Lock: {% if team.isLocked %}
                    True
                {% else %}
                    False
                {% endif %}
            </a></button>
    {% endif %}

    {% if timeDiffJS %}
        {% if team.isLocked %}
            <p>You are ready to scan!</p>
        {% endif %}
    {% endif %}


    <p id="timer"></p>
    {% include 'Partials/timer.html.twig' %}


{% endblock %}
