{% extends 'base.html.twig' %}

{% block title %}Hello ProfilePageController!{% endblock %}

{% block body %}
    <h1>{{ userName }} </h1>
    <h3>{{ teamName }} {{ megazorp }} </h3>
    <h3>Your team members</h3>
    <ul>
        {% for member in allMembers %}
            <li>{{ member.teamIvo }}  :  {{ member.scorez }}</li>
        {% endfor %}
    </ul>
    <h3>High Score</h3>
    <ul>
        {% for topScore in topScores %}
            <li>{{ topScore['teamName'] }} with {{ topScore['teamScore'] }}points</li>
        {% endfor %}
    </ul>


    {% if is_granted('ROLE_ADVANCED') %}
        <button><a href="{{ path('toggle_lock', {team:team.id}) }}">

                Lock: {% if team.isLocked %}
                    True
                {% else %}
                    False
                {% endif %}
            </a></button>
    {% endif %}

    {% if timeDiffJS %}
        {% if team.isLocked %}
            <p>You are ready to scan!</p>
        {% endif %}
    {% endif %}


    <p id="timer"></p>

    <script>
        let s = "{{ timeDiffJS.s }}";
        let m = "{{ timeDiffJS.i }}";
        let timerDiv = document.getElementById('timer');
        function updateClock(){
            s--;
            if (s == -1){
                s = 59;
                m--;
            }
            timerDiv.innerHTML = `${m}m: ${s}s remaining`
        }
        setInterval(updateClock, 1000);
        timerDiv.innerHTML = `${m}m: ${s}s remaining`
    </script>

{% endblock %}
